{{#if getproducts}}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <div class="container-fluid">
            <a class="navbar-brand" id="name">Shopping-cart</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Choose category
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="/seller/homeEssentials_update">Home_Essentials</a></li>
                    <li><a class="dropdown-item" href="/seller/grocery_update">Grocery</a></li>
                    <li><a class="dropdown-item" href="/seller/electronics_update">Electronics</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/seller/home"><i
                        class="fa fa-home"
                        aria-hidden="true"
                    ></i>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/seller/logout"><i class="fas fa-power-off"></i>Logout</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <h1>All products</h1>
    {{#each getproducts}}
        <div class="details">
            <div class="second">
                <h3><strong>product:</strong>{{this.productName}}</h3>
                <h3><strong>Price:</strong>₹{{this.price}}</h3>
                <h3><strong>Quantity:</strong>{{this.quantity}}pcs</h3>
            </div>
            <img src="{{this.image}}" alt="img">
            <form action="/seller/update/{{this.category}}/{{this._id}}">
                <button class="btn btn-outline-success" value="submit">Update</button>
            </form>
            <form action="/seller/delete/{{this.category}}/{{this._id}}" method="POST">
                <button class="btn btn-outline-danger">Delete</button>
            </form>
        </div>
    {{/each}}
{{else}}
<h2>No products avialable</h2>
{{/if}}
