<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="nav-link" id="back" href="/seller/update"><i class="fas fa-chevron-left"></i></a>
      <a class="navbar-brand" id="nm">Shopping-cart</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/seller/logout"><i class="fas fa-power-off"></i>Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<div class="container">
    <h1 class="text-center display-8" id="hone">Edit product</h1>
    <div class="d-flex justify-content-center align-items-center" id="inner">
        <form action="/seller/update/{{get_product.category}}/{{get_product._id}}" method="POST">
            <div class="mb-3">
                <label for="product" class="form-label">Product name</label>
                <input type="text" name="productName" class="form-control" id="name" value ="{{get_product.productName}}"aria-label="Disabled input example"  Disabled readonly>
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Category</label>
                <input class="form-control" type="text" placeholder="{{get_product.category}}"  value="{{get_product.category}}"aria-label="Disabled input example"  Disabled readonly>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="price" class="form-control" id="name" value ="{{get_product.price}}">
            </div>
            <div class="mb-3">
                <label for="quantity" class="form-label">Quantity</label>
                <input type="number" name="quantity" class="form-control" id="description" value="{{get_product.quantity}}">
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</div>